<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <title>EAS - Welcome to Exam Analysis System</title>
</head>

<body>
  <div class="ui page grid">
    <div class="sixteen page margin_top wide column"> &nbsp; </div>
	<div class="sixteen wide column">
        <h2 class="ui dividing header">
            Welcome to Access Page!
        </h2>
    </div>
	<div py:if="message!=None" class="ui blue message">
        ${message}
    </div>
  </div>
</body>
</html>
