<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
<head py:match="head" py:attrs="select('@*')">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="${response.charset}" />
  <title py:if="False">Your generic title goes here</title>
  <meta py:replace="select('*')"/>
  <!--<link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/bootstrap.min.css')}" />-->
  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/semantic.css')}" />
  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/style.css')}" />
  <script src="${tg.url('/javascript/jquery-1.11.3.js')}"></script>
</head>

<body py:match="body" py:attrs="select('@*')">
  <!-- Navbar -->
  <div class="ui fixed inverted main menu">
  <div class="ui page grid">
    <div class="sixteen width column">
      <div class="container">
        <div class="sixteen header title width column">
          <h2 class="ui inverted header">
            <i class="line chart icon"></i>
            <div class="content">
              Welcome to Examination Analysis
              <div class="sub header">Let you see the hidden information of test paper.</div>
            </div>
          </h2>
        </div>
        <a class="item ${('', 'active')[value_of('page') == 'index']}" href="${tg.url('/')}">
          <i class="home icon"></i> Home
        </a>
        <a py:if="request.identity" class="item ${('', 'active')[value_of('page') == 'exam_list']}" href="${tg.url('/exam_list',params = dict(user_id = request.identity.user._id))}">
          <i class="bar chart icon"></i> 試卷列表
        </a>
        <a class="item ${('', 'active')[value_of('page') == 'upload']}" href="${tg.url('/upload')}">
          <i class="cloud upload icon"></i> Upload
        </a>
        <a class="item ${('', 'active')[value_of('page') == 'pre_analysis']}" href="${tg.url('/pre_analysis')}">
          <i class="pie chart icon"></i> Before
        </a>
        <a class="item ${('', 'active')[value_of('page') == 'post_analysis']}" href="${tg.url('/post_analysis')}">
          <i class="bar chart icon"></i> After
        </a>
                
        <div py:if="tg.auth_stack_enabled" class="right menu">
          <li class="item ${('', 'active')[value_of('page') == 'login']}" py:if="not request.identity"><a href="${tg.url('/login')}">Login</a></li>
          <li class="item" py:if="request.identity"><a href="${tg.url('/logout_handler')}">Logout</a></li>
          <li class="item ${('', 'active')[value_of('page') == 'admin']}" py:if="request.identity"><a href="${tg.url('/admin')}">Admin</a></li>
        </div>
      </div>
    </div>
    <!--
    <div class="collapse navbar-collapse" id="navbar-content">
      <ul class="nav navbar-nav">
        <li class="${('', 'active')[value_of('page') == 'index']}"><a href="${tg.url('/')}">Welcome</a></li>
        <li class="${('', 'active')[value_of('page') == 'add_idea_page']}"><a href="${tg.url('/add_idea_page')}">Add Idea</a></li>
        <li class="${('', 'active')[value_of('page') == 'about']}"><a href="${tg.url('/about')}">About</a></li>
        <li class="${('', 'active')[value_of('page') == 'data']}"><a href="${tg.url('/data')}">Serving Data</a></li>
        <li class="${('', 'active')[value_of('page') == 'environ']}"><a href="${tg.url('/environ')}">WSGI Environment</a></li>
      </ul>

      <ul py:if="tg.auth_stack_enabled" class="nav navbar-nav navbar-right">
        <li py:if="not request.identity"><a href="${tg.url('/login')}">Login</a></li>
        <li py:if="request.identity"><a href="${tg.url('/logout_handler')}">Logout</a></li>
        <li py:if="request.identity"><a href="${tg.url('/admin')}">Admin</a></li>
      </ul>
    </div>
    -->
    </div>
  </div>

  <div class="field container">
    <!-- Flash messages -->

    <!-- Main included content -->
    <div py:replace="select('*|text()')"></div>
  </div>


  <!-- Footer -->
  <footer class="footer hidden-xs hidden-sm">
    <p>Copyright &copy; ${getattr(tmpl_context, 'project_name', 'TurboGears2')} ${h.current_year()}</p>
  </footer>

  <script src="http://code.jquery.com/jquery.js"></script>
  <!--<script src="${tg.url('/javascript/bootstrap.min.js')}"></script>-->
  <script src="${tg.url('/javascript/semantic.js')}"></script>
  <script type="text/javascript">
    /*
    $(document).ready(function () {
        
        $(".menuHome").click(function () {
            hideMenuActive();
            $(this).addClass('active');
        });
        $(".menuAbout").click(function () {
            hideMenuActive();
            $(this).addClass('active');
        });
        $(".menuUploadIdea").click(function () {
            hideMenuActive();
            $(this).addClass('active');
        });
        $(".menuUploadFact").click(function () {
            hideMenuActive();
            $(this).addClass('active');
        });
        $(".menuView").click(function () {
            hideMenuActive();
            $(this).addClass('active');
        });
        $(".menuLogin").click(function () {
            hideMenuActive();
            $(this).addClass('active');
        });
        $(".menuAdmin").click(function () {
            hideMenuActive();
            $(this).addClass('active');
        });
        
    });
    function hideMenuActive(){
        $('.menuHome').removeClass('active');
        $('.menuAbout').removeClass('active');
        $('.menuUploadIdea').removeClass('active');
        $('.menuUploadFact').removeClass('active');
        $('.menuView').removeClass('active');
        $('.menuLogin').removeClass('active');
        $('.menuAdmin').removeClass('active');
    }
    */
  </script>
</body>
</html>
